
.shift-left {
  margin-right: 30px;
}

.App {
  height: inherit;
}

.form-spacing label {
  padding-right: 10px;
}

.form-line {
  width: 100%;
}

.form-inline {
  display: flex;
}

.description {
  margin-bottom: 20px;
}
