.main {
  background-color: #f1f1f1;
}

.title_chart {
  text-align: center;
  width:100%;
  margin-top: 20px;
  font-weight: bold;
}

.title {
  text-align: left;
  width:100%;
  margin-top: 20px;
  font-weight: bold;
}

.chart {
  border:10px solid #f1f1f1;

}
