.scroll {
  overflow: scroll;
}

.one-screen {
  height: 700px;
}

.form-spacing label {
  padding-right: 10px;
}

.form-line {
  width: 100%;
}

.form-main {
}

.form-bottom-spacing {
  margin-bottom: 20px;
}

.form-inline {
  display: flex;
}

.form-flex-group {
  display: flex;
}

.form-flex-group label {
  flex: auto;
}
